
html{
    scroll-behavior: smooth;
}
 body{
     background-color:#fcd6a7;
     font-size:1rem;
     font-family: 'Lato', sans-serif;

 }
 .header {
    padding: 40px;
    text-align: center;
    background: rgb(248, 144, 25);
    color: black;
    animation-name: example;
    animation-duration: 4s;
}

 a.home{
    text-decoration: underline;
    color:black;
    font-weight: 400;
  }
.about{
    color:black;
  }
.resume{
    color:black;
  }
.contact{
    color:black;
  }
  .content{
    grid-area:content;
  }
  .sidebar{
    grid-area:sidebar;
    align-items: center;
    background: rgb(248, 144, 25);
    opacity: 0.9;
  }
  .container{
    font-size: 0.8em;
    width:100%;
    height:100vh;
    display:grid;
    grid-template-areas:"sidebar""content""footer";
    grid-template-columns: 1fr;
    grid-template-rows: 50px 700px 100px;
  }
  
  .content{
    padding:3em 1.5em 1.5em 1.5em;
    
  }
  
  nav ul{
    margin:0;
    padding:10px;
    display: flex;
    justify-content:space-between;
    text-align: right;
  }
  nav li{
    list-style: none;
    padding: 1em;
  
  }
  nav li a{
    color:black;
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s;
    position:relative;
  }
  
  nav li a:hover{
    color: white;
    opacity: 0.5;
  }
  .hero{
    max-width: 960px;
    margin:0 auto;
    text-align: center;
  }
  .footer{
    text-align: center;
    font-size: 0.4em;
    width:100%;
    bottom: 0;
  
  }

  * {
    box-sizing: border-box;
  }
  
  .main {
    max-width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
   
  }
  
  .row {
    margin: 8px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 100%;
  }
  
  img {
    width: 100%; /* need to overwrite inline dimensions */
    height: 450px;
    padding: 24px;
  }
  h3{
    font-size: 24px;
    opacity: 70%;
  }
  .column p{
    font-size: 18px;
    color:black;
    font-weight: 300;
  }
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .contentt {
    background-color: rgb(248, 144, 25);
    padding: 20px;
  }
  
  
@media screen and (min-width:760px) and (max-width: 1039px) {
    .container{
        font-size: 1.3em;
        grid-template-areas:"sidebar""content""footer";
        grid-template-columns: 1fr;
        grid-template-rows: 85px 1000px 100px;
                
            }
    .footer{
    font-size: 0.5em;
    padding:0px;
  }
    .hero img{
        width: 280px;
            }

                
}  
            
@media screen and (min-width:1040px){
    .container{
        font-size: 2em;
        grid-template-areas: "sidebar content"
        "sidebar footer";
        grid-template-columns: 250px 1fr;
      }
    
      nav ul{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 3em;
      }
      nav li a{
        color:white;
        font-weight: 300;
        text-decoration: none;
        font-size: 1em;
        transition: 0.3s;
        position:relative;
      }
      .content{
        padding:1em;
      }
    
    
              img {
                width: 100%;
                height: 180px;
                padding: 0px;
              }
            
              .column {
                float: left;
                width: 33%;
              }
              h3{
                font-size: 28px;
                font-weight: 540;
              }
              .column p{
                font-size: 18px;
                line-height: 1.5em;
                color:black;
                font-weight: 400;
              }

}
@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
  
    .skip a{
      background: white;
      left: 0;
      padding: 6px;
      position: absolute;
      top: -40px;
      -webkit-transition: auto;
      transition: auto;
      z-index: 1;
    }
  
    .skip a:focus{
      top:0;
    }
  }
  @keyframes example {
    from {background-color: #fcd6a7}
    to {background-color:  rgb(248, 144, 25);}
  }
